In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
# INGESTING GREEN TAXI DATA
df_green_taxi = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz")

In [6]:
df_green_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [7]:
df_green_taxi[df_green_taxi['trip_distance'] == df_green_taxi.trip_distance.max()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
297377,2,2019-01-15 19:27:58,2019-01-15 22:59:01,N,1,221,265,1,117.99,323.0,1.0,0.5,0.0,10.5,NaN,0.3,339.2,2,1,NaN

In [8]:
df_green_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [9]:
# CONVERT TO DATETIME FORMAT TWO COLUMNS
df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)

In [10]:
df_green_taxi.to_sql(name='green_taxi_data', con=engine, index=False, if_exists='replace')

In [11]:
df_green_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 96.3+ MB

In [12]:
# INGESTING ZONES
df_zones = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [30]:
df_zones.to_sql(name='zones', con=engine, index=False, if_exists='replace')

In [13]:
df_zones.head(8)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone

In [28]:
df_zones[df_zones['LocationID'] == df_green_taxi[df_green_taxi['tip_amount'] == df_green_taxi[df_green_taxi['PULocationID'] == df_zones[df_zones.Zone == 'Astoria'].LocationID.values[0]].tip_amount.max()].DOLocationID.values[0]].Zone.values[0]

'Long Island City/Queens Plaza'